.inverse {
  background-color: #26344b; /* Take JHU Heritage blue, adjust saturation from 100 to 33 in HSL representation */
  color: #d6d6d6;
  text-shadow: none;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #e6e6e6;
  text-shadow: none;
}

.remark-slide-content {
  font-size: 26px;
  padding: .75em 3.5em .75em 3.5em;
}

.remark-slide-content h2 {
  font-size: 40px;
}

.mjx-chtml{ font-size: 105% !important; } /* See https://github.com/yihui/xaringan/issues/143 */

.small { font-size: 70% }

h1 { margin-bottom: -.1ex; }
h2 { margin-bottom: 0; }
ul { margin-top: 1ex; }
ul li { margin-bottom: 1ex; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}